<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Tabla</title>
</head>
<body>
    {{#if products}}
        <table class="table table-dark">
            <tr> <th>Nombre</th> <th>Precio</th> <th>Imagen</th> </tr>
            {{#each products}}
                <tr>
                    <td>{{this.title}}</td>
                    <td>{{this.price}}</td>
                    <td><img class="img-responsive" src={{this.thumbnail}} alt={{this.name}}></td>
                </tr>
            {{/each}}
        </table>
        {{else}}
        <h1>No hay productos</h1>
    {{/if}}
    <a href="/" class="btn btn-primary mt-3"><p style="color: white;">Volver al formulario</p></a>
    
</body>
</html>